@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body{
   height:100vh;
   width:100vw;
    background-color:#D20062;
    display: flex;
    justify-content: center;
    align-items: center;
      
}
.advice{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* .advice h3, p{
    margin: 15px;
    text-align: center;
    align-items: center;
} */
h3{
    font-size: 25px;
    color: rgb(11, 11, 60);
    border: 1.5px solid rgb(11, 11, 60) ;
    border-radius: 30px;
    padding: 15px;
    background-color:#df8ab2;
    margin: 15px;
}
/* 
.but{
    justify-content: center;
    align-items: center;
} */


.but{
    margin: 15px;
}

button{

    padding: 5px 10px;
    background-color:rgb(11, 11, 60);
    color: #D20062;
    font-size: 22px;
    font-weight: 700px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button:hover{
    background-color:rgb(255, 204, 212);
    color: #b40154;
}

p{
   margin:10px ;
   font-size: 18px;
   color:rgb(11, 11, 60) ;
}

h4{
    text-align: center;
    margin: 15px;
}